asgiref==3.9.1
certifi==2025.7.14
charset-normalizer==3.4.2
Django==5.2.4
django-stubs==5.2.2
django-stubs-ext==5.2.2
djangorestframework-stubs==3.16.1
idna==3.10
requests==2.32.4
sqlparse==0.5.3
types-PyYAML==6.0.12.20250516
types-requests==2.32.4.20250611
typing_extensions==4.14.1
urllib3==2.5.0
